* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
	background: #000;
}

.navbar .logo img {
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #f4b400;
}

.menu a {
    margin-left: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu-icon {
    display: none;
}


/* Responsive Design */
